.flexbox-container  div{
    width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.flexbox-container p{
    color: white;
}

.Header ul li{
    list-style:none;
    font-size: 20px;
    display: inline;
    margin: 0 20px;
}

.Header ul li a{
    text-decoration: none;
    color: white;
    align-items: center;
}
.flexbox-container2{
    width: 100%;
    margin:auto;
    display: flexbox;
    background-color: #1F2937;
    position: relative;
}
.flexbox-container2 h1{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    align-items: left;
}
.flexbox-container2 p{
    font-size: 18px;
    color: #E5E7EB;
}
.flexbox-container2 cat{
    position: absolute;
    right: 0%;
}

.flexbox-container3 div{
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
}

.flexbox-container3  p{
    color: blue;
}
.flexbox-container4 div{
    width: 100%;
}
.flexbox-container4 p{
    font-size: 26px;
    font-family: light italic;
    color: #1F2937;
    text-align: center;
}

.flexbox-container5 {
    display: flex;
}

.flexbox-container5 box4 div{
    width: auto;
    margin: auto;
    background-color: blue;
}

.flexbox-container5 box4 h p{
    color:white;
}