.flexbox-container  div{
    width: 100%;
    margin-right: auto;
    padding: 10px;
    display: flex;
    background-color: #1F2937;
    align-items: flex-start;
    justify-content: space-between;
}
.hero button{
    background-color: blue;
    color: white;
    border-color: none;
}
.flexbox-container p{
    color: white;
}

.Header ul li{
    list-style:none;
    font-size: 20px;
    display: inline;
    margin: 0 20px;
}

.Header ul li a{
    text-decoration: none;
    color: white;
    align-items: center;
}
.flexbox-container2{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}
.flexbox-container2 h1{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    align-items: left;
}
.flexbox-container2 p{
    font-size: 18px;
    color: #E5E7EB;
}
.flexbox-container2 cat{
    position: absolute;
    right: 0%;
}

.flexbox-container3 {
    width: 100%;
    margin:auto;
    display: column;
    justify-content: space-between;
}

.flexbox-container3  p{
    color: blue;
}
.header{
    align-items: center;
    justify-content: center;
}
.pictures {
    display: flex;
    margin: auto;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}
.flexbox-container4 {
    display:flex;
    align-items: center;
    padding: 40px;
    background-color: #E5E7Eb;
}

.flexbox-container4 p{
    font-size: 36px;
    font-family: light italic;
    color:#1F2937;
}

.flexbox-container5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4 {
    background-color: blue;
}

.btn div{
    background-color: blue;
}
.btn button{
    color: white;
    background-color: blue;
}

 .flexbox-container5 div{
    color:white;
}